<%= link_to sanitize("&larr; Back to connections"), connections_path, class: "btn btn--secondary" %>
<p style="color: green"><%= notice %></p>
<div class="header">
  <h1>Connection</h1>
</div>

<%= render partial: 'show_connection', object: @connection, as: :connection %>

<div>
  <%= button_to "Destroy this connection", @connection, method: :delete, class: "btn btn--primary" %>
</div>
