<p style="color: green"><%= notice %></p>
<div class="header">
<h1>Customer</h1>
</div>
<div id="customers">
    <%= render @customers %>
</div>
<% if @customers.empty?%>
  <%= link_to "New customer", new_customer_path, class: "btn btn--primary" %>
<% end%>
