<p style="color: green"><%= notice %></p>
<%= link_to sanitize("&larr; Back to transactions"), transactions_path(account_id: @transaction.account_id), class: "btn btn--secondary" %>
<div class="header">
  <h1>Transaction</h1>
</div>

<%= render partial: 'show_transaction', object: @transaction, as: :transaction %>

