<p style="color: green"><%= notice %></p>
<%= link_to sanitize("&larr; Back to accounts"), accounts_path, class: "btn btn--secondary" %>
<div class="header">
  <h1>Account</h1>
</div>
<%= render partial: 'show_account', object: @account, as: :account %>
